@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


html {
    background-color: rgb(32, 32, 32);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}

#login h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
}

#login {
    overflow: hidden;
    background-color: white;
    padding: 50px 50px 50px 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login input {
    display: block;
    border: 1px solid black;
    font-size: 19px;
    background: white;
    width: 316px;
    padding: 10px 10px;
    position: relative;
}


input:focus {
    outline: none;
}

.info {
    margin: 25px 0px 25px 0px;
}


#login ::placeholder {
    text-align: left;
    font-size: 16px;

}

#login button {
    margin-top: 60px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 20px;
    border: 0;
    background-color: white;
    padding: 0px;
}

.logar {
    display: flex;
    font-size: 12px;
    width: 300px;
    padding: 25px 17px 25px 17px;
    justify-content: center;
    border-color: darkgreen;
    color: darkgreen;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    transition: 0.3s ease;
}

.logar:hover {
    background-color: darkgreen;
    
    color: white;
}


/* BOTAO REGISTRAR */

.actions {
    text-align: center;
}

.actions button{
    margin: 0px;
}

.actions p{
    color: darkgreen;
    font-size: 15px;
    text-align: center;
    margin: 0px;
}

button:hover {
    background-color: rgb(111, 0, 255);
    color: black;
}