@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
}

.popup {
    width: 50rem;
    height: 50rem;
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    animation: time;
    animation-duration: 500ms;
}

@keyframes time {
    from {
        opacity: 1;
    }
    from {
        opacity: 0;
    }
}

.fa-times {
    color: black;
    font-size: 4rem;
    float: right;
    cursor: pointer;
    padding-right: 1rem;
    padding-top: 0.6rem;
}

#h2 {
    text-align: center;
    padding-top: 0.6rem;
}

#p {
    font-size: 2rem;
    padding: 3rem;
    padding-top: 0.8rem; 
}

strong {
    font-size: 2rem;
}

.fa-times:hover {
    color: red;
}

