#intro {
    display: flex;
    justify-content: space-between;
}
  
.prefix {
    text-align: center;
    font-size: 3rem;
}
  
#counter,
#score {
    text-align: center;
}

.escolha {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background-color: whitesmoke;
    min-width: 80rem;
}

p, #pergunta-questao {
    font-size: 3rem;
}


.escolha:hover {
    cursor: pointer;
    transition: transform 100ms;
    transform: scale(1.04);
}

.pergunta {
    color: rgb(32, 32, 32);
}

.prefixo {
    background-color: rgb(111, 0, 255);
    padding: 2rem;
    color: whitesmoke;
}

.pergunta {
    padding: 2rem;
    width: 100%;
}

